.series {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  .top {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
  }
}

.series_all {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-m);
  padding-bottom: var(--space-l);
  .container {
    padding-top: var(--space-l);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-s);
    align-items: end;
  }
}
